In [131]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [132]:
covid=pd.read_csv("COVID-19-geographic-disbtribution-worldwide-2020-04-30.csv")
covid = covid.rename(columns = {"dateRep":"Date", "geoId":"Country"})
covid=covid.set_index('Date')
covid=covid.sort_index(ascending = True)
covid.head()

,cases,deaths,countriesAndTerritories,Country,popData2018,continentExp
Date,,,,,,
1/1/2020,0,0,Sweden,SE,10183175.0,Europe
1/1/2020,0,0,Algeria,DZ,42228429.0,Africa
1/1/2020,0,0,Cambodia,KH,16249798.0,Asia
1/1/2020,0,0,Iraq,IQ,38433600.0,Asia
1/1/2020,0,0,Israel,IL,8883800.0,Asia

In [133]:
air=pd.read_csv("../2020_combined.csv")
countries = ["US", "GB", "IT", "CN", "IN"]
air = air[air.Country.isin(countries)]
air=air.set_index('Date')
air=air.drop(columns = ['Unnamed: 0'])
air=air.sort_index(ascending = True)
air.to_csv('filtered_air.csv')
air.head()

,Country,City,Specie,count,min,max,median,variance,Pop,Lat,Long
Date,,,,,,,,,,,
1/1/2020,US,Las Vegas,pm25,138,6.0,268,47.0,34725.20,623747,36.17497,-115.13722
1/1/2020,CN,Qinhuangdao,pm25,175,53.0,211,97.0,7068.64,759718,39.93167,119.58833
1/1/2020,CN,Shijiazhuang,pm25,601,93.0,200,155.0,3075.38,2834942,38.04139,114.47861
1/1/2020,CN,Shantou,pm25,264,34.0,152,65.0,6819.12,5329024,23.36814,116.71479
1/1/2020,CN,Zhengzhou,pm25,400,17.0,172,132.0,11121.20,4253913,34.75778,113.64861

In [134]:
all= pd.merge(covid, air,  how='left', left_on=['Date','Country'], right_on = ['Date','Country'])
all= all.dropna(subset=['Specie'])
all.head()

,cases,deaths,countriesAndTerritories,Country,popData2018,continentExp,City,Specie,count,min,max,median,variance,Pop,Lat,Long
Date,,,,,,,,,,,,,,,,
1/1/2020,0,0,Italy,IT,60431283.0,Europe,Bologna,pm25,96.0,82.0,87.0,82.0,63.16,366133.0,44.49381,11.33875
1/1/2020,0,0,Italy,IT,60431283.0,Europe,Parma,pm25,192.0,55.0,147.0,119.0,6546.44,146299.0,44.79935,10.32618
1/1/2020,0,0,Italy,IT,60431283.0,Europe,Brescia,pm25,48.0,102.0,161.0,102.0,8887.66,184826.0,45.53558,10.21472
1/1/2020,0,0,Italy,IT,60431283.0,Europe,Milan,pm25,96.0,165.0,202.0,187.0,1785.47,1236837.0,45.46427,9.18951
1/1/2020,0,0,Italy,IT,60431283.0,Europe,Turin,pm25,72.0,107.0,155.0,147.0,4470.99,870456.0,45.07049,7.68682

In [135]:
all["Death_rate"] = round((all['deaths'] / all['popData2018'])*100,2)
all["Case_rate"] = (all['cases'] / all['popData2018'])*100
all["death/case_rate"] = (all['deaths'] / all['cases'])*100
all = all.reset_index()
all.to_csv("all.csv")
all.head()

,Date,cases,deaths,countriesAndTerritories,Country,popData2018,continentExp,City,Specie,count,min,max,median,variance,Pop,Lat,Long,Death_rate,Case_rate,death/case_rate
0,1/1/2020,0,0,Italy,IT,60431283.0,Europe,Bologna,pm25,96.0,82.0,87.0,82.0,63.16,366133.0,44.49381,11.33875,0.0,0.0,NaN
1,1/1/2020,0,0,Italy,IT,60431283.0,Europe,Parma,pm25,192.0,55.0,147.0,119.0,6546.44,146299.0,44.79935,10.32618,0.0,0.0,NaN
2,1/1/2020,0,0,Italy,IT,60431283.0,Europe,Brescia,pm25,48.0,102.0,161.0,102.0,8887.66,184826.0,45.53558,10.21472,0.0,0.0,NaN
3,1/1/2020,0,0,Italy,IT,60431283.0,Europe,Milan,pm25,96.0,165.0,202.0,187.0,1785.47,1236837.0,45.46427,9.18951,0.0,0.0,NaN
4,1/1/2020,0,0,Italy,IT,60431283.0,Europe,Turin,pm25,72.0,107.0,155.0,147.0,4470.99,870456.0,45.07049,7.68682,0.0,0.0,NaN

In [136]:

all["Date"]= pd.to_datetime(all["Date"]) 
all.head()

,Date,cases,deaths,countriesAndTerritories,Country,popData2018,continentExp,City,Specie,count,min,max,median,variance,Pop,Lat,Long,Death_rate,Case_rate,death/case_rate
0,2020-01-01,0,0,Italy,IT,60431283.0,Europe,Bologna,pm25,96.0,82.0,87.0,82.0,63.16,366133.0,44.49381,11.33875,0.0,0.0,NaN
1,2020-01-01,0,0,Italy,IT,60431283.0,Europe,Parma,pm25,192.0,55.0,147.0,119.0,6546.44,146299.0,44.79935,10.32618,0.0,0.0,NaN
2,2020-01-01,0,0,Italy,IT,60431283.0,Europe,Brescia,pm25,48.0,102.0,161.0,102.0,8887.66,184826.0,45.53558,10.21472,0.0,0.0,NaN
3,2020-01-01,0,0,Italy,IT,60431283.0,Europe,Milan,pm25,96.0,165.0,202.0,187.0,1785.47,1236837.0,45.46427,9.18951,0.0,0.0,NaN
4,2020-01-01,0,0,Italy,IT,60431283.0,Europe,Turin,pm25,72.0,107.0,155.0,147.0,4470.99,870456.0,45.07049,7.68682,0.0,0.0,NaN